.myStyles = {
    itemShapes: Star,
    boxBorderWidth: 3,
  
    activeFillColor: ['#FEE2E2', '#FFEDD5', '#FEF9C3', '#ECFCCB', '#D1FAE5'],
    activeBoxColor: ['#da1600', '#db711a', '#dcb000', '#61bb00', '#009664'],
    activeBoxBorderColor: ['#c41400', '#d05e00', '#cca300', '#498d00', '#00724c'],
  
    inactiveFillColor: 'white',
    inactiveBoxColor: '#dddddd',
    inactiveBoxBorderColor: '#a8a8a8'
  }